@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Cabin', sans-serif;
}

.hidden {
    display: none !important;
}

body {
    background: rgb(223, 114, 196);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ------ STARTPAGE ------ */

.startPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    margin-bottom: 3rem;
}

.chooseUsername {
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
    border-style: none;
}

.roomsContainerStartPage {
    background: rgb(171, 255, 255);
    color: black;
    width: 20rem;
    height: auto;
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.roomDiv {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "lockIcon roomName joinRoomButton";

    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    background: rgb(125, 251, 255);
    padding: 0.2rem;
}

.lockIcon {
    grid-area: lockIcon;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.roomDiv p {
    grid-area: roomName;
    text-align: left;
}

.roomDiv button {
    grid-area: joinRoomButton;
    padding: 0.2rem;
    cursor: pointer;
}

.createRoomTextButton {
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.goToCreateRoomPageButton {
    border: none;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer
}

.join {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* ------ CHATPAGE ------ */

.chatContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "roomsContainer username username leaveRoom"
        "roomsContainer chat chat chat"
        "roomsContainer chat chat chat"
        "roomsContainer chat chat chat"
        "roomsContainer chat chat chat"
        "roomsContainer chat chat chat"
        "roomsContainer chat chat chat"
        "roomsContainer messageBox messageBox messageBox";

    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 35rem;
    background: grey;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem black;
}

/* Rooms */

.roomsContainerChatPage {
    grid-area: roomsContainer;
    height: 100%;
    width: auto;
    font-size: 1.2rem;
    background: none;
}

.roomObject {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    width: auto;
    justify-content: space-between;
    border-radius: 3rem;
    align-items: center;
    color: black;
    background: white;
    padding: 0.5rem;
    margin: 0.5rem;
}

#userList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    margin: 0 0.5rem 0.5rem 4rem;
}

.userObject {
    display: flex;
    width: auto;
    color: black;
    border-radius: 3rem;
    align-items: center;
    margin: 0.1rem .3rem;
    background: white;
}

.userTitle {
    margin: 0.2rem .2rem;
}

.userIcon {
    margin: 0 0.5rem;
}

/* Username */

.username {
    grid-area: username;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

/* Leave room */

.leaveRoomButton {
    grid-area: leaveRoom;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-style: none;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
    border-left: 0.1rem solid black;
}

.leaveRoomButton:hover {
    color: white;
    cursor: pointer;
}

/* Chat */

.chat {
    grid-area: chat;
    box-sizing: border-box;
    background: white;
    color: black;
    height: 100%;
    width: auto;
    padding: 0.3rem;
}

#chatWindow {
    height: 100%;
    overflow-y: hidden;
}

.messageBox {
    grid-area: messageBox;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "typeMessage typeMessage typeMessage sendMessage";

    height: 100%;
    width: auto;
}

.typeMessage {
    grid-area: typeMessage;
    background: white;
    box-sizing: border-box;
    border: 0.1rem solid black;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    padding: 0.3rem;
    color: black;
}

.sendMessage {
    grid-area: sendMessage;
    height: 100%;
    width: 100%;
    background: none;
    border-style: none;
    font-size: 1.2rem;
}

.sendMessage:hover {
    color: white;
    cursor: pointer;
}

/* ------ CREATE A NEW ROOM PAGE ------ */

.createRoomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chooseRoomName {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-size: 1.4rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border-style: none;
}

.inputPassword {
    margin-top: 1rem;
    font-size: 1.4rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border-style: none;
}

.createRoomButton {
    margin-top: 1rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer
}